{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <div class="header">
        <span id="id_logged_in_user_name"><i class="fas fa-user"></i> {{user.first_name}} {{user.last_name}}</span>
        <div class="dropdown">
            <button id="id_show_nav_button" onclick="showNav()" class="dropbtn">&darr;</button>
            <div id ="my_dropdown" class="dropdown-content">
              <a href="{% url 'global_stream' %}" id = "id_nav_global_stream">Global Stream</a>
              <a href="{% url 'follower_stream' %}" id = "id_nav_follower_stream">Follower Stream</a>
              <a href="{% url 'my_profile' %}" id = "id_nav_profile">My Profile</a>
              <a href="{% url 'login' %}" id = "id_nav_logout">Logout</a>
            </div>
          </div>
    </div>
{% endblock %}


{% block content %}
<div>
    <p id="id_name_of_page" class="page_name">Global Stream</p>
    <div id="error"></div>

    <form method="post" action="{% url 'home' %}">
        <table>
            {% for field in form.visible_fields %}
            <tr>
                <td>{{field.label_tag}}</td> 
                <td>{{field}}</td>
                {% csrf_token %}
                <td>
                    <button type="submit" id="id_post_button">Submit</button>
                </td>
            </tr>
            <tr class='message'>
                    {% if message %} {{message}} {% endif %}
            <tr>
            {% endfor %}
        </table>
    </form>
 
    <div id="post-list"></div>
</div>

<script>
    // The index.html does not load the list, so we call getList() as soon as page is finished loading
    window.onload = refreshGlobal;

    // ... also re-fetch the list by calling getList every 5 seconds!
    window.setInterval(refreshGlobal, 5000);
</script>

{% endblock %}


